<header>
	<div id="banner">
		<%= link_to image_tag("logo.png"), root_path %>
		<%= image_tag("banner.png") %>
	</div>

	<div id="search">
		<%= form_tag search_path, method: :get do %>
			<%= text_field_tag :search_keywords %>
			<%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name") %>
			<%= submit_tag 'Search' %>
		<% end %>
	</div>

	<div id ="nav">
		<ul>
			<li><%= link_to 'MEN', men_path %>
				<ul>
					<li><a href="#">Casual</a></li>
					<li><a href="#">Formal</a></li>
					<li><a href="#">Sports/Athletic</a></li>
					<li><a href="#">Boots</a></li>
				</ul>
			</li>
			<li><%= link_to 'WOMEN', women_path %>
				<ul>
					<li><a href="#">Casual</a></li>
					<li><a href="#">Formal</a></li>
					<li><a href="#">Sports/Athletic</a></li>
					<li><a href="#">Boots</a></li>
				</ul>
			</li>
			<li><%= link_to 'KIDS', kids_path %>
			<li><%= link_to 'SALE', sale_path %>
			<li><%= link_to 'NEW', new_path %>
			<li><a href="#">FEATURED</a></li>
		</ul>
	</div>
</header>