<!DOCTYPE html>
<html>
<head>
  <title>the Sole Shoe Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<%= render 'layouts/header' %>

<body>

<div id="content">
	<%= yield %>
</div>

</body>

<footer>

	<%= link_to 'Contact', contact_path %>
	<%= link_to 'About', about_path %>

</footer>

</html>
