<!DOCTYPE html>
<html>
<head>
  <title>the Sole Shoe Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="banner">

	<%= link_to image_tag("logo.png"), root_path %>
	<%= image_tag("banner.png") %>
</div>

<div id ="nav">
	<ul>
		<li><%= link_to 'MEN', men_path %>
			<ul>
				<li><a href="#">Casual</a></li>
				<li><a href="#">Formal</a></li>
				<li><a href="#">Sports/Athletic</a></li>
				<li><a href="#">Boots</a></li>
			</ul>
		</li>
		<li><%= link_to 'WOMEN', women_path %>
			<ul>
				<li><a href="#">Casual</a></li>
				<li><a href="#">Formal</a></li>
				<li><a href="#">Sports/Athletic</a></li>
				<li><a href="#">Boots</a></li>
			</ul>
		</li>
		<li><%= link_to 'KIDS', kids_path %>
		<li><%= link_to 'SALE', sale_path %>
		<li><%= link_to 'NEW', new_path %>
		<li><a href="#">FEATURED</a></li>
	</ul>
</div>

<div id="content">
	<%= yield %>
</div>

</body>
</html>
